<%@ Master Language="C#" AutoEventWireup="true" CodeFile="SiteMaster.master.cs" Inherits="SiteMaster" %>

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head id="Head1" runat="server">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Welcome to Infinity Rewards</title>
    <link rel="shortcut icon" type="image/x-icon" href="\Images/icons/favicon/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/fonts/fontawesome-free-6.5.1-web/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="\Css/jquery-ui.css" />
    <link rel="stylesheet" href="\Css/bootstrap.min.css" />
    <link rel="stylesheet" href="\Css/swiper.min.css" />
    <link rel="stylesheet" href="\Css/root.css" />
    <link rel="stylesheet" href="\Css/global.css" />
    <script src="\Jquery/jquery.min.js" type="text/javascript"></script>
    <script src="\Jquery/jquery-ui.js" type="text/javascript"></script>
    <script src="\Jquery/common.js" type="text/javascript"></script>
    <script src="\Jquery/bootstrap.min.js" type="text/javascript"></script>
    <script src="\Jquery/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
    <script src="\Jquery/swiper.min.js"></script>
    <!--Language Libs -->
    <%--<script src="\Jquery/i18n/jquery.i18n.min.js" type="text/javascript"></script>
    <script src="\Jquery/i18n/jquery.i18n.emitter.bidi.js" type="text/javascript"></script>
    <script src="\Jquery/i18n/i18n.custom.js" type="text/javascript"></script>--%>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).ajaxStart(function () {
                //alert("ajax start");
                $("#updProgress").show();
            }).ajaxStop(function () {
                //alert("ajax stop");
                $("#updProgress").hide();
            });
            CheckPointsAvailability();
/*            $('.popupclose').click(function () {
                $('.hover_app_info').hide();
            });*/

            // this script is to Prevent dropdown menu from closing when clicking inside the dropdown all over the website
            $('.dvDropdown .prevent-close').on('click', function (event) {
                event.stopPropagation();
            });

            hideShowNavbarToggler();
        });

        function BindBanner() {
            //var languageSelector = $("#languageSelector").val();
            try {
                var bannerHTML = "";
                var path = "";
                switch ($("#languageSelector").val()) {
                    case "en":
                        bannerHTML = '<%=HttpContext.Current.Application[string.Format("{0}banner",Convert.ToString(Session["CategoryName"]))]%>';
                        break;
                    case "np":
                        bannerHTML = '<%=HttpContext.Current.Application[string.Format("{0}bannernp",Convert.ToString(Session["CategoryName"]))]%>';
                        break;
                    case "ar":
                        bannerHTML = '<%=HttpContext.Current.Application[string.Format("{0}bannerar",Convert.ToString(Session["CategoryName"]))]%>';
                        break;
                }
                if (bannerHTML != '') {
                    appendBanner(bannerHTML);
                }
                else {
                    switch ($("#languageSelector").val()) {
                        case "en":
                            path = '<%=string.Format("{0}banner",Convert.ToString(Session["CategoryName"]))%>';
                            break;
                        case "np":
                            path = '<%=string.Format("{0}bannernp",Convert.ToString(Session["CategoryName"]))%>';
                            break;
                        case "ar":
                            path = '<%=string.Format("{0}bannerar",Convert.ToString(Session["CategoryName"]))%>';
                            break;
                    }
                    $.ajax({
                        type: 'POST',
                        url: 'Index.aspx/GetHomeBanner',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: "{path:'" + path + "'}",
                        success: function (msg) {
                            if (msg.d != '') {
                                $("#dvHeroSlider").append(msg.d);
                                appendBanner(msg.d); // Assuming 'en' is the default
                            }
                        }
                    });
                }
            }
            catch (e) {
                console.error(e);
            }
        }
        function appendBanner(data) {
            $("#dvHeroSlider").empty();
            $("#dvHeroSlider").append(data);

            // Initialize the Swiper
            const heroSlider = new Swiper(".dvHeroSlider.swiper", {
                direction: "horizontal",
                loop: false,
                speed: 500,
                slidesPerView: 1,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                spaceBetween: 0,
                breakpoints: {
                    0: {
                        slidesPerView: 1,
                    },
                },
                mousewheel: {
                    enabled: false,
                },
                keyboard: {
                    enabled: true,
                },
            });
        }

        function GetRedemptionOptions() {
            try {
                var redemptionOptionsHTML = '<%=HttpContext.Current.Application["HomeRedemptionOptions"]%>';
                if (redemptionOptionsHTML != '') {
                    $("#divRedemptionOptions").html(redemptionOptionsHTML);
                    var categoryName = '<%=Convert.ToString(Session["CategoryName"])%>';
                    if (categoryName != '') {
                        $('.redemptionoptions').removeClass('SelRedemption');
                        $('.' + categoryName + 'redemption').addClass('SelRedemption');

                        // this is for loading only after vc data is available
                        updateVcDataSections();

                    }
                } else {
                    $.ajax({
                        type: 'POST',
                        url: 'Index.aspx/GetRedemptionOptions',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: "",
                        success: function (msg) {
                            if (msg.d != '') {
                                $("#dvRedemptionMenuLoader").hide();
                                $("#divRedemptionOptions").html(msg.d);
                                var categoryName = '<%=Convert.ToString(Session["CategoryName"])%>';
                                if (categoryName != '') {
                                    $('.redemptionoptions').removeClass('SelRedemption');
                                    $('.' + categoryName + 'redemption').addClass('SelRedemption');

                                    // this is for loading only after vc data is available
                                    updateVcDataSections();

                                }
                            }
                        },
                        beforeSend: function () {
                            $("#dvRedemptionMenuLoader").show();
                        }
                        

                    });
                }
            } catch (e) {
            }
        }
        function CheckPointsAvailability() {
            try {
                $.ajax({
                    type: 'POST',
                    url: 'Index.aspx/CheckPointsAvailability',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: "",
                    success: function (msg) {
                        if (msg.d != '') {
                            $("#lblCurrentBal").empty().html(msg.d);
                            $('#spnMemberCurrentBal').empty().html(msg.d);
                        } else {
                            $("#lblCurrentBal").empty().html(0);
                            $('#spnMemberCurrentBal').empty().html(0);
                        }
                    },
                    beforeSend: function () {
                        $("#updProgress").hide();
                    }
                });
            } catch (e) {
            }
        }

        // this script is for to show navbar-toggler on only shop redemption
        function hideShowNavbarToggler() {
            const element = document.querySelector(".dvShopMenu #CP_divMenuContent");
            if (element) {
                const totalLength = element.innerHTML.trim().length;
                if (totalLength < 1) {
                    $('.dvShopMenu .dvNavbarToggler .navbar-toggler').css('display', 'none');
                    $('.dvShopMenu .dvShopSearchBox').attr('class', 'dvShopSearchBox px-3 px-lg-0 col-12 col-lg-3 order-lg-2 ml-auto');
                }
            }
        }
        
    </script>
</head>
<body>
    <button id="downloadTranslations" class="d-none">Download JSON</button>
    <form id="form1" runat="server">
        <div class="dvHeader shadow-sm sticky-top bg-colour6">
            <div class="dvStripe py-1">
                <div class="container-xl">
                    <div class="row">
                        <div class="dvUserInfo col-6 col-lg-4 d-flex align-items-center">
                            <div class="mr-2">
                                <i class="fa-regular fa-user text-colour6"></i>
                            </div>
                            <div class="" id="liwelcome" runat="server" visible="true">
                                <asp:Label runat="server" CssClass="text-colour6" ID="lblMemberName">
                                    <span id="txtWelcome" runat="server"></span>
                                    <span>Guest</span>
                                </asp:Label>
                            </div>
                        </div>
                        <div class="dvActivationInfo col-6 text-right col-lg-auto ml-lg-auto" id="lnkRegister" runat="server">
                            <a href="\Activation.aspx" class="nav-link p-0 text-colour6">
                                <i class="fa fa-power-off"></i> 
                                <span>Activation</span>
                            </a>
                        </div>
                        <div class="dvBalanceInfo col-6 col-lg-auto ml-lg-auto" runat="server" visible="false" id="dvPoints">
                            <div class="dvPoints">
                                <div class="nav-item" id="liPoints" runat="server" visible="false">
                                    <a class="points" href="javascript:void(0);">Points<span>
                                        <asp:Label ID="lblAvailablePoints" runat="server" Text="0"></asp:Label></span>
                                    </a>
                                </div>
                                <div id="HeaderTot" runat="server" visible="false">
                                    <asp:Label runat="server" CssClass="text-colour6 " ID="Label1" Text="Points"></asp:Label>
                                    <span class="ml-1 text-colour6" id="totAvbPointDiv" runat="server" visible="false">
                                        <asp:Label runat="server" ID="lblCurrentBal" ForeColor="" Text="0"></asp:Label>
                                    </span>
                                </div>
                            </div>
                        </div>
                         <div class="dvLoginInfo col-6 col-lg-auto d-none d-lg-block text-right" id="lnkloginlogout" runat="server">
                            <div class="nav-item">
                                <a href="Login.aspx" class="nav-link d-inline-block p-0 text-colour6" id="lnkLogin" runat="server">
                                    <i class="fa-regular fa-user pr-1 d-inline-block"></i>
                                    <span class="nav-link p-0 d-inline-block">Login</span>
                                </a>
                                <a id="liLogout" runat="server" visible="false">
                                    <asp:LinkButton runat="server" CausesValidation="false" ID="logout" data-toggle="modal" data-target="#dvLogoutModal" OnClick="SignOut" CssClass="nav-link d-inline-block p-0 text-colour6">
                                    <i class="fa-regular fa-user pr-1 d-inline-block"></i>
                                        <span class="nav-link p-0 d-inline-block">Logout</span>
                                    </asp:LinkButton>
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="container-xl py-lg-3">
                <nav class="navbar navbar-expand-lg navbar-light px-0 py-2 mx-lg-n3">
                    <div class="logo m-0 col-auto col-lg-2 px-0 px-lg-3 order-0 order-lg-0">
                        <a href="Index.aspx" class="d-inline-block pr-2 mr-1 border-right">
                            <img src="../Images/logos/infinity-logo.svg" />
                        </a>
                    </div>
                    <div class="logo m-0 col-5 col-lg-2 px-0 px-lg-3 order-1 order-lg-2 text-lg-right">
                        <a href="https://www.abcbanking.mu/" target="_blank" class="d-inline-block">
                            <img src="../Images/logos/abc-footer-logo.svg" />
                        </a>
                    </div>
                    <div class="order-2 col d-flex col-lg-auto align-items-center justify-content-end pr-0 pr-lg-0">
                         <select class="dvLang d-none-" id="languageSelector">
                            <option value="en">en</option>
                            <option value="np">np</option>
                            <option value="ar">ar</option>
                             <option value="fr">fr</option>
                        </select>
                        <button class="navbar-toggler d-lg-none px-0 py-2 border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                            <%--<span class="navbar-toggler-icon"></span>--%>
                            <%--<img src="/Images/icons/other/menu.png" alt="?" />--%>
                            <i class="fa-solid fa-bars-staggered text-colour1"></i>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse order-3 order-lg-1 col-lg-8 px-0 px-lg-3 mb-1 mb-lg-0 justify-content-lg-end" id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-lg-center w-100">
                            <li class="nav-item">
                                <a class="nav-link py-2 py-lg-0 px-0 px-lg-3" id="about" href="AboutUs.aspx">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link py-2 py-lg-0 px-0 px-lg-3" id="earn" href="ComingSoon.aspx">Earn</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link py-2 py-lg-0 px-0 px-lg-3" href="Redeem.aspx" id="redeem">Redeem</a>
                            </li>
                            <li class="nav-item dropdown" runat="server" visible="true" id="limyaccount">
                                <a class="nav-link py-2 py-lg-0 px-0 px-lg-3" href="StatementSummary.aspx" id="navbarDropdown">My Account</a>
                            </li>
                            <%--<li class="dvUserInfo nav-item d-flex align-items-center border-top ml-lg-auto pt-2 pt-lg-0">
                                <div class="d-flex align-items-center">
                                    <div class="mr-2">
                                        <i class="fa-regular fa-user text-colour7"></i>
                                    </div>
                                    <div class="" id="liwelcome" runat="server" visible="true">
                                        <asp:Label runat="server" CssClass="text-colour7 heading-semibold" ID="lblMemberName">
                                            <span id="txtWelcome" runat="server"></span>
                                            <span>Guest</span>
                                        </asp:Label>
                                    </div>
                                </div>
                            </li>--%>
                            <li class="nav-item d-block d-lg-none" id="mob_lnkloginlogout" runat="server">
                                <a href="Login.aspx" class="nav-link p-2 btn btn-one" id="mob_lnkLogin" runat="server">
                                    <i class="fa-regular fa-user pr-1 d-inline-block"></i>
                                    <span class="d-inline-block">Login</span>
                                </a>
                                <a id="mob_liLogout" class="nav-link p-2 btn btn-one" runat="server" visible="false">
                                    <asp:LinkButton runat="server" CausesValidation="false" ID="mob_logout" data-toggle="modal" data-target="#dvLogoutModal" OnClick="SignOut" CssClass="nav-link btn btn-one">
                                        <i class="fa-regular fa-user pr-1 d-inline-block"></i>
                                        <span class="d-inline-block">Logout</span>
                                    </asp:LinkButton>
                                </a>
                            </li>
                        </ul>
                        <div class="dvLoginBtn d-none">
                           <%-- <div class="nav-item" id="lnkloginlogout" runat="server">
                                <a href="Login.aspx" class="nav-link d-inline-block p-0 text-colour6" id="lnkLogin" runat="server">
                                    <i class="fa-regular fa-user pr-1 d-inline-block"></i>
                                    <span class="nav-link p-0 d-inline-block">Login</span>
                                </a>
                                <a id="liLogout" runat="server" visible="false">
                                    <asp:LinkButton runat="server" CausesValidation="false" ID="logout" data-toggle="modal" data-target="#dvLogoutModal" OnClick="SignOut" CssClass="nav-link text-colour6">
                                        <i class="fa-regular fa-user pr-1 d-inline-block"></i>
                                        <span class="nav-link p-0 d-inline-block">Logout</span>
                                    </asp:LinkButton>
                                </a>
                            </div>--%>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!--header start here-->
        <!--header end here-->
        <!-- Homepage Banner Slider -->
        <div id="dvHeroSlider" class="dvHeroSlider swiper w-100">
        </div>
        <div class="dvInnerBanner">
            <img id="dvInnerBanner" alt="" class="w-100" />
        </div>
        
        <div class="dvRedemptionMenu dvVcData">
            <div class="container-fluid">
                <div id="dvRedemptionMenuLoader" class="dvLoader" style="display:none;">
                    <img src="../Images/loading.gif" alt="loading..." />
                </div> 
                <div class="row justify-content-md-center flex-nowrap flex-md-wrap scroll-hoz py-4 pt-md-5 pb-md-3" id="divRedemptionOptions" runat="server">
                </div>
            </div>
        </div>
        <asp:ScriptManager ID="ScriptManager" runat="server" />
        <!--main start here-->
        <div class="dvMain">
            <div class="container-xl">
                <div class="row">
                    <div class="dvBreadcrumbs col-12" id="sitemap" runat="server">
                    </div>
                </div>
            </div>
            <asp:ContentPlaceHolder ID="CP" runat="server"></asp:ContentPlaceHolder>
            <div id="updProgress" style="display: none;">
                <img src="../Images/loading.gif" alt="loading..." />
            </div>
        </div>
        <!--main end here-->
        <!--footer start here-->
        <div class="dvFooter">
            <div class="bg-colour1 py-4">
                <div class="container-xl">
                    <div class="row align-items-lg-center">
                        <div class="dvLinks col-lg-10 text-center text-lg-left mb-3 mb-lg-0 text-uppercase">
                            <a class="d-block d-md-inline-block py-1" href="ComingSoon.aspx">Earn</a>
                            <a class="d-block d-md-inline-block py-1" href="Redeem.aspx">Redeem</a>
                            <a class="d-block d-md-inline-block py-1" href="AboutUs.aspx">About Us</a>
                            <a class="d-block d-md-inline-block py-1" href="FAQ.aspx">FAQs</a>
                            <a class="d-block d-md-inline-block py-1" href="TermsAndConditions.aspx">Terms &amp; Conditions</a>
                            <a class="d-block d-md-inline-block py-1" href="PrivacyPolicy.aspx">Privacy Policy</a>
                            <a class="d-block d-md-inline-block py-1" href="BookingPolicy.aspx">Booking Policy</a>
                            <%--<a class="d-block d-md-inline-block py-1" href="ComingSoon.aspx">Disclaimer</a>--%>
                        </div>
                        <div class="dvSocialIcons col-lg-2 text-center text-lg-right mb-3 mb-md-0">
                            <a class="d-inline-block px-1" href="https://www.facebook.com/ABCbankingcorporation" target="_blank">
                                <%--<img src="images/icons/social/facebook.svg" />--%>
                                <i class="fa-brands fa-facebook text-colour6"></i>
                                <%--<i class="fa-brands fa-facebook-f text-colour6"></i>--%>
                                <%--<i class="fa-brands fa-square-facebook text-colour6"></i>--%>
                            </a>
                            <a class="d-inline-block px-1" href="https://www.linkedin.com/company/abc-banking-corporation-ltd-mauritius" target="_blank">
                                <%--<img src="images/icons/social/linkedin.svg" />--%>
                                <%--<i class="fa-brands fa-linkedin-in text-colour6"></i>--%>
                                <i class="fa-brands fa-linkedin text-colour6"></i>
                            </a>
                            <%--<a class="d-inline-block pl-1" href="" target="_blank">
                                <%--<img src="images/icons/social/Instagram.svg" />--%
                                <i class="fa-brands fa-instagram text-colour6"></i>
                                <%--<i class="fa-brands fa-square-instagram text-colour6"></i>--%
                            </a>--%>
                             <%--<a class="d-inline-block pl-1" href="" target="_blank">
                                <%--<img src="images/icons/social/Instagram.svg" />--%
                                <%--<i class="fa-brands fa-x-twitter text-colour6"></i>--%
                                <%--<i class="fa-brands fa-square-x-twitter text-colour6"></i>--%
                            </a>--%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-xl py-4">
                <div class="row align-items-lg-center">
                    <div class="col-sm-12 col-lg-2 text-center text-lg-left mb-3 mb-lg-0">
                        <a class="d-inline-block" href="https://www.abcbanking.mu/" target="_blank">
                            <img class="img-fluid footer-logo" src="images/logos/abc-footer-logo.svg" alt="Infinity Rewards Logo" /></a>
                    </div>
                    <div class="col-sm-12 col-lg-6 text-center text-lg-left mb-3 mb-lg-0">
                        <p class="h8 heading-semibold text-colour7">
                            &copy;
                          <script>
                              document.write(new Date().getFullYear());
                          </script>
                            ABC BANKING CORPORATION LTD. All rights reserved.
                        </p>
                    </div>
                    <div class="col-sm-12 col-lg-4 text-center text-lg-right">
                        <a class="d-inline-block" href="https://www.giift.com/" target="_blank">
                            <img class="img-fluid" src="images/logos/giift-logo.svg" alt="Giift Logo" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--footer end here-->
    </form>


    <!-- dvLogoutModal -->
    <div class="dvCommonModal modal fade" id="dvLogoutModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title">Logout</h5>
                     <button type="button" class="close" data-dismiss="modal">
                         <i class="fa-solid fa-xmark"></i>
                     </button>
                </div>
                <div class="modal-body text-center">
                    <p class="heading-semibold">Do you want to Signout?</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <a class="btn btn-one" data-dismiss="modal">No</a>
                    <a class="btn btn-one" id="dsktopYes" href="Logout.aspx">Yes</a>
                </div>
            </div>
        </div>
    </div>
    <script src="\Jquery/i18n/i18n.custom.js" type="text/javascript" defer></script>
</body>
</html>
