<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <section name="DataAccessSettings" type="Framework.EnterpriseLibrary.DataAccess.Entities.DataAccessSettings, Framework.EnterpriseLibrary.DataAccess.Entities"/>
  </configSections>
  <exceptionHandling configSource="Config\exceptionHandlingConfiguration.config"/>
  <loggingConfiguration configSource="Config\loggingConfiguration.config"/>
  <cachingConfiguration configSource="Config\cachingConfiguration.config"/>
  <DataAccessSettings defaultDatabase="SQL" cachingPolicy="Cache Manager" exceptionPolicy="Default Exception Policy" commandTimeOut="60"/>
  <connectionStrings>
    <clear/>
        <add name="SQL" connectionString="Data Source=192.168.45.6;Initial Catalog=CentralProgram;User Id=Sampath;Password=(0m/\/\b@Y#098;" providerName="system.data.sqlclient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Core.Platform.ProgramMaster.Implementor.ProgramManager"
					 behaviorConfiguration="SimpleServiceBehavior">
        <endpoint address=""
						  binding="basicHttpBinding"
						  contract="Core.Platform.ProgramMaster.Interface.IProgramInterface"
						  bindingConfiguration="BasicHttpBinding_IProgram" behaviorConfiguration="SimpleEndpointBehavior"/>
        <endpoint address=""
         binding="basicHttpBinding"
         contract="Core.Platform.ProgramMaster.Interface.IProgramAdministrator"
         bindingConfiguration="BasicHttpBinding_IProgram" behaviorConfiguration="SimpleEndpointBehavior"/>
        <endpoint address="mex"
					  binding="mexHttpBinding"
					  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SimpleServiceBehavior" >
          <serviceMetadata httpGetEnabled="True" policyVersion="Policy12" />
          <serviceDebug includeExceptionDetailInFaults ="True"/>
          <serviceThrottling maxConcurrentCalls ="500" maxConcurrentSessions ="500"/>
          <dataContractSerializer maxItemsInObjectGraph ="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="SimpleEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="FaultBehavior" type="Framework.EnterpriseLibrary.Common.WCF.FaultBehaviorExtensionElement, Framework.EnterpriseLibrary.Common.WCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProgram" closeTimeout="00:03:00"
				   openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
				   allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				   maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
				   messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				   useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
						maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
							realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
    </client>
  </system.serviceModel>
  <system.transactions>
    <defaultSettings timeout="02:00:00"/>
  </system.transactions>
  <appSettings>
    <add key="DefaultRulesEngine" value="Framework.EnterpriseLibrary.RuleEngine.Engine.RuleEngine,Framework.EnterpriseLibrary.RuleEngine.Engine"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
