<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMember" />
        <binding name="BasicHttpBinding_ITransaction" />
        <binding name="BasicHttpBinding_IReport" />
        <binding name="BasicHttpBinding_IRbac" />
        <binding name="BasicHttpBinding_IMakerChecker" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8004/LoyaltyManagement" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMember" contract="LoyaltyService.IMember"
        name="BasicHttpBinding_IMember" />
      <endpoint address="http://localhost:8004/LoyaltyManagement" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITransaction" contract="LoyaltyService.ITransaction"
        name="BasicHttpBinding_ITransaction" />
      <endpoint address="http://localhost:8004/LoyaltyManagement" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IReport" contract="LoyaltyService.IReport"
        name="BasicHttpBinding_IReport" />
      <endpoint address="http://localhost:8004/LoyaltyManagement" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRbac" contract="LoyaltyService.IRbac"
        name="BasicHttpBinding_IRbac" />
      <endpoint address="http://localhost:8004/LoyaltyManagement" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMakerChecker" contract="LoyaltyService.IMakerChecker"
        name="BasicHttpBinding_IMakerChecker" />
    </client>
  </system.serviceModel>
</configuration>