<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProgramInterface1" />
        <binding name="BasicHttpBinding_IProgramInterface" />
        <binding name="BasicHttpBinding_IProgramAdministrator" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7000/ProgramManager" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProgramInterface1" contract="InterfaceService.IProgramInterface"
        name="BasicHttpBinding_IProgramInterface1" />
      <endpoint address="http://localhost:7000/ProgramManager" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProgramInterface" contract="InterfaceService.IProgramInterface"
        name="BasicHttpBinding_IProgramInterface" />
      <endpoint address="http://localhost:7000/ProgramManager" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProgramAdministrator"
        contract="InterfaceService.IProgramAdministrator" name="BasicHttpBinding_IProgramAdministrator" />
    </client>
  </system.serviceModel>
</configuration>