<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
       
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPGPOSManager" />
                <binding name="BasicHttpBinding_IPGManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7011/PGManager" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPGPOSManager" contract="PGService.IPGPOSManager"
                name="BasicHttpBinding_IPGPOSManager" />
            <endpoint address="http://localhost:7011/PGManager" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPGManager" contract="PGService.IPGManager"
                name="BasicHttpBinding_IPGManager" />
        </client>
    </system.serviceModel>
</configuration>