<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="https://dso.vectramind.com/api/service.asmx"
           binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
           contract="SMSService.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>
  <appSettings>
    <!--<add key="CommEngineImageUrl" value="http://localhost:4584/CommunicationEngineWebSite"/>-->
  </appSettings>
</configuration>