/*=========[ ACCOUNT BG ]=========*/
.dvMember {
    /*background: url("../images/homepage/earn/bg-image.svg");*/
    background: var(--bg-colour2);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
/*=========[ ACCOUNT BG ]=========*/



/*=========[ ACCOUNT MENU ]=========*/
.dvAccountMenu {
  border-bottom: 1px solid var(--border-colour);
}
.dvAccountMenu .nav-link {
  color: var(--bg-colour7);
  padding: 0;
  min-height: 70px;
}
.dvAccountMenu .active {
  color: var(--text-colour2);
  background: var(--bg-colour1);
}
/*=========[ ACCOUNT MENU ]=========*/



/*=========[ STATEMENT SUMMARY ]=========*/

/*=========[ STATEMENT SUMMARY ]=========*/



/*=========[ TRANSACTION SUMMARY ]=========*/
.dvTransactionSummary p.heading-bold span.heading-bold {
  color: var(--bg-colour1);
  font-size: 1.25rem;
}
.dvTransactionSummary .dvInput.input-group .form-control[readonly],
.dvTransactionSummary .dvInputGroup.input-group .form-control[readonly] {
    background-color: var(--colour6);
    cursor: default;
}
.dvTransactionSummary .dvLabel .radiomark{
    top:5px;
}
/*=========[ TRANSACTION SUMMARY ]=========*/



/*=========[ POINTS EXPIRY ]=========*/

/*=========[ POINTS EXPIRY ]=========*/



/*=========[ ORDER HISTORY ]=========*/

/*=========[ ORDER HISTORY ]=========*/



/*=========[ ORDER DETAILS ]=========*/
.dvOrderDetailsPopup .modal-body .barcode-img {
    width:150px;
}

/*delivery track*/
.dvOrderDetails .dvDeliveryTrack .w-30{
    width:30px;
}
.dvOrderDetails .dvDeliveryTrack .h-30 {
    height: 30px;
}
.dvOrderDetails .dvDeliveryTrack{
    position: relative;
}
.dvOrderDetails .dvDeliveryTrack .dvLine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:0;
    width:95%;
}
.dvOrderDetails .dvDeliveryTrack span.rounded-circle{
    font-weight:bold;
}
.dvOrderDetails .dvDeliveryTrack .active > span.rounded-circle:first-child{
    background-color:var(--colour1);
    color:var(--colour6);
    font-weight:bold;
}
/*delivery track*/
/*=========[ ORDER DETAILS ]=========*/



/*=========[ PROFILE PAGE ]=========*/
.dvProfile .dvCommonAccordion .card .card-body .dvInputGroup.input-group .form-control {height:auto;}
/*=========[ PROFILE PAGE ]=========*/


/*=========[ MANAGE PAGE ]=========*/

/*=========[ MANAGE PAGE ]=========*/




/*=========[ MEDIA QUERIES ]=========*/
@media (min-width: 576px) {

}

@media (min-width: 768px) {
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
/*=========[ MEDIA QUERIES ]=========*/
