/*=========[ GLOBAL FOR CAR PAGES ONLY ]=========*/
/*this is for checkbox on carsearch form section*/
/*.dvParent .dvLabel .checkmark {
    top: 3px;
}*/
/*this is for checkbox on carsearch form section*/

/*ribbon for cardetails and carlist pages*/
 .ribbon {
    width: 113px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
}
.ribbon span {
    width: 198px;
    position: absolute;
    display: block;
    text-align: center;
    color: #fff;
    background: #000;
    z-index: 3;
    font-size: 10px;
    font-weight: 500;
    height: 20px;
    line-height: 2;
    left: -22px;
    top: 25px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
/*ribbon for cardetails and carlist pages*/


/*delivery track for carlist & cardetails & carpayment pages*/
/*.dvCarList .dvDeliveryTrack .w-30,
.dvCarDetails .dvDeliveryTrack .w-30,
.dvCarPayment .dvDeliveryTrack .w-30 {
    width: 30px;
}
.dvCarList .dvDeliveryTrack .h-30,
.dvCarDetails .dvDeliveryTrack .h-30,
.dvCarPayment .dvDeliveryTrack .h-30 {
    height: 30px;
}
.dvCarList .dvDeliveryTrack,
.dvCarDetails .dvDeliveryTrack,
.dvCarPayment .dvDeliveryTrack {
    position: relative;
}
.dvCarList .dvDeliveryTrack span.rounded-circle,
.dvCarDetails .dvDeliveryTrack span.rounded-circle,
.dvCarPayment .dvDeliveryTrack span.rounded-circle {
    font-weight: bold;
}
.dvCarList .dvDeliveryTrack .active > span.rounded-circle:first-child,
.dvCarDetails .dvDeliveryTrack .active > span.rounded-circle:first-child,
.dvCarPayment .dvDeliveryTrack .active > span.rounded-circle:first-child{
    background-color: var(--colour1);
    color: var(--colour6);
    font-weight: bold;
}*/
.dvCarList .dvDeliveryTrack .w-30,
.dvCarDetails .dvDeliveryTrack .w-30,
.dvCarPayment .dvDeliveryTrack .w-30 {
    width: 30px;
}
.dvCarList .dvDeliveryTrack .h-30,
.dvCarDetails .dvDeliveryTrack .h-30,
.dvCarPayment .dvDeliveryTrack .h-30 {
    height: 30px;
}
.dvCarList .dvDeliveryTrack,
.dvCarDetails .dvDeliveryTrack,
.dvCarPayment .dvDeliveryTrack {
    position: relative;
}
.dvCarList .dvDeliveryTrack span.rounded-circle,
.dvCarDetails .dvDeliveryTrack span.rounded-circle,
.dvCarPayment .dvDeliveryTrack span.rounded-circle{
    font-weight: bold;
}
.dvCarList .dvDeliveryTrack .active > span.rounded-circle:first-child,
.dvCarDetails .dvDeliveryTrack .active > span.rounded-circle:first-child,
.dvCarPayment .dvDeliveryTrack .active > span.rounded-circle:first-child{
    background-color: var(--colour1);
    color: var(--colour6);
    font-weight: bold;
}
/*delivery track for carlist & cardetails & carpayment pages*/
/*=========[ GLOBAL FOR CAR PAGES ONLY ]=========*/



/*=========[ CAR SEARCH PAGE ]=========*/
.dvCarSearch .dvForm{
    position:relative;
    z-index: 2;
}
/*open drop off location & driver age inputs smoothly*/
.dvCarSearch .dvForm .fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
    display: block;
}
.dvCarSearch .dvForm .fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
    display: none;
}

/*carSearch errors*/
.dvCarSearch .dvForm .error{
    border: 1px solid var(--danger-text-colour);
    /*color: var(--danger-text-colour);*/
}
/*carSearch errors*/
/*=========[ CAR SEARCH PAGE ]=========*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
/*open drop off location & driver age inputs smoothly*/
/*=========[ CAR SEARCH PAGE ]=========*/



/*=========[ CARLIST PAGE ]=========*/
/*car selection section*/
/*.dvCarList .dvCarSelection::-webkit-scrollbar {
    height: var(--car-selection-scrollbar-height);
}
.dvCarList .dvCarSelection::-webkit-scrollbar-track {
    background: var(--car-selection-scrollbar-track-bg);
}
.dvCarList .dvCarSelection::-webkit-scrollbar-thumb {
    background: var(--car-selection-scrollbar-thumb-bg);
}*/
.dvCarList .dvCarSelection .checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid var(--border-colour);
}
/* Hide the browser's default checkbox */
.dvCarList .dvCarSelection .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* When the checkbox is checked,  */
.dvCarList .dvCarSelection .checkbox-container input:checked ~ .checkmark {
    border: 1px solid var(--colour1);
}
/* Show the checkmark when checked */
.dvCarList .dvCarSelection .checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.dvCarList .dvCarSelection .checkbox-container .checkmark:after {
    position: absolute;
    right: 12%;
    top: 6%;
    /* content: url("/images/carpage/icons/checked.svg");*/
    content: '\f058';
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    width: 15px;
    color: var(--colour1)
}
/* Create the checkmark/indicator (hidden when not checked) */
.dvCarList .dvCarSelection .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    right: 12%;
    top: 6%;
    width: 15px;
}
.dvCarList .dvCarSelection .checkbox-container .checkmark img {
    max-width: 100%;
}
/*car selection section*/
/*=========[ CARLIST PAGE ]=========*/



/*=========[ CARDETAILS PAGE ]=========*/
.dvCarDetails .dvBookingSummary .card {
    border-radius: 0;
}
.dvCarDetails .dvBookingSummary .card-header {
  background-color: var(--bg-section);
}
.dvCarDetails .dvBookingSummary .dvPayable .heading-sm-medium,
.dvCarDetails .dvBookingSummary .dvPayable .heading-sm-bold {
  color: var(--colour1);
}
.dvCarDetails .dvPayOption .heading-sm-medium {
  color: var(--colour1);
}
.dvCarDetails .dvPayOption .fa-check {
  color: var(--text-success);
}
.dvCarDetails .dvItem .heading-md-medium,
.dvCarDetails .dvItem .fa-shield {
  color: var(--colour1);
}
.dvCarDetails .dvPayOption .tickmark {
  font-size: 1.5rem;
  display: flex;
}
.dvCarDetails .dvPayOption .checkmark {
  margin-top: 16px;
}
/*=========[ CARDETAILS PAGE ]=========*/



/*=========[ CAR PAYMENT PAGE ]=========*/

/*=========[ CAR PAYMENT PAGE ]=========*/



/*=========[ REMOVE NOT-ALLOWED ICON ]=========*/
.dvCarSearch .dvInput.input-group .form-control[readonly],
.dvCarSearch .dvInputGroup.input-group .form-control[readonly],
.dvCarList .dvInput.input-group .form-control[readonly],
.dvCarList .dvInputGroup.input-group .form-control[readonly] {
    background-color: var(--colour6);
    cursor: default;
}
/*=========[ REMOVE NOT-ALLOWED ICON ]=========*/



@media (min-width: 576px) {
   
}

@media (min-width: 768px) {
    /*.dvCarList .dvDeliveryTrack .dvLine,
    .dvCarDetails .dvDeliveryTrack .dvLine,
    .dvCarPayment .dvDeliveryTrack .dvLine {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: -1;
        left: 25%;
        width: 50%;
    }*/
    .dvCarList .dvDeliveryTrack .dvLine,
    .dvCarDetails .dvDeliveryTrack .dvLine,
    .dvCarPayment .dvDeliveryTrack .dvLine {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 75%;
    }
}

@media (min-width: 992px) {
/*    .dvCarList .dvDeliveryTrack .dvLine,
    .dvCarDetails .dvDeliveryTrack .dvLine,
    .dvCarPayment .dvDeliveryTrack .dvLine {
        left: 25%;
        width: 50%;
    }*/
}
