/*=========[ GLOBAL FOR CAR PAGES ONLY ]=========*/
/*car steps section*/
.dvCarSteps .circle {
    width: 30px;
    height: 30px;
    background-color: var(--colour2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dvCarSteps .circle-active {
  background-color: var(--colour1);
  color: #fff;
}
.dvCarSteps .text-active {
    color: var(--colour1);
}
.dvCarSearch .dvForm .error {
    border: 1px solid var(--text-danger);
    color: var(--text-danger);
}
.dvCarSearch .dvInput.input-group .form-control[readonly], .dvCarSearch .dvInputGroup.input-group .form-control[readonly],
.dvCarList .dvInputGroup.input-group .form-control[readonly], .dvCarList .dvInputGroup.input-group .form-control[readonly] {
    background-color: var(--colour6);
}

.dvCarSearch .dvParent .dvLabel .checkmark {
    top: 3px;
}
/*car steps section*/

/* smallicon 
purposely kept without parent class. small-icon class are using in multiple places on this page
*/
.small-icon {
  width: 15px;
  color: var(--colour8);
}
/* smallicon */

/* ribbon section 
purposely kept without parent class. Ribbon Section is using in multiple places on this page
*/
 .ribbonBox {
    width: 113px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2;
}
    .ribbonBox span {
        width: 198px;
        position: absolute;
        display: block;
        text-align: center;
        color: #fff;
        background: #000;
        z-index: 3;
        font-size: 10px;
        font-weight: 500;
        height: 20px;
        line-height: 2;
        left: -22px;
        top: 25px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
.dvRibbon {
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 2;
}
.dvRibbon span {
  display: block;
  text-align: center;
/*  color: var(--secondary-colour);*/
  background: var(--bg-section);
  font-size: 10px;
  padding: 0.25rem 0.5rem;
  border-radius: 0 0 0 7px;
  font-weight: 400;
}
/* ribbon section */

/* moreInfo button */
.dvMoreInfoBtn {
  color: var(--colour1);
}
/* moreInfo button */
/*=========[ GLOBAL FOR CAR PAGES ONLY ]=========*/

/*=========[ CARLIST PAGE ]=========*/
/*filter button only for mobile*/
/*.dvCarList .dviconBox i {
    color:var(--colour8)
}*/
/*.dvCarList .dvFilterBtn {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--colour1);
  text-align: center;
  z-index: 2;
  background: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}*/
/*filter button only for mobile*/

/*car selection section*/
.dvCarList .dvCarSelection::-webkit-scrollbar {
    height: var(--car-selection-scrollbar-height);
}
.dvCarList .dvCarSelection::-webkit-scrollbar-track {
    background: var(--car-selection-scrollbar-track-bg);
}
.dvCarList .dvCarSelection::-webkit-scrollbar-thumb {
    background: var(--car-selection-scrollbar-thumb-bg);
}
.dvCarList .dvCarSelection .checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #dee2e6;
}
/* Hide the browser's default checkbox */
.dvCarList .dvCarSelection .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* On mouse-over, */
.dvCarList .dvCarSelection .checkbox-container:hover input ~ .checkmark {
  /* border: 1px solid var(--colour1); */
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
}
/* When the checkbox is checked,  */
.dvCarList .dvCarSelection .checkbox-container input:checked ~ .checkmark {
  border: 1px solid var(--colour1);
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
}
/* Show the checkmark when checked */
.dvCarList .dvCarSelection .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
    .dvCarList .dvCarSelection .checkbox-container .checkmark:after {
        position: absolute;
        right: 12%;
        top: 6%;
        /* content: url("/images/carpage/icons/checked.svg");*/
        content: '\f058';
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
        width: 15px;
        color: var(--colour1)
    }
/* Create the checkmark/indicator (hidden when not checked) */
.dvCarList .dvCarSelection .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  right: 12%;
  top: 6%;
  width: 15px;
}
/*.checkbox-container .checkmark:after { content:url(../Images/icon/checked.svg); right: 10px; top: 2px; width: 8px; height: 15px; border: solid red; border-width: 0 4px 4px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }*/
.dvCarList .dvCarSelection .checkbox-container .checkmark img {
  max-width: 100%;
}
/*car selection section*/

/*cars found section*/
.dvFound .border .heading-semibold,
.dvFound .border a {
  color: var(--colour1);
}
/*cars found section*/
 
.dvCarList .dvIncluded .dvLocation a {
    color: var(--colour1);
}
.dvCarList .boxShadow .travelWhiteBtn .btn {
    background: transparent;
    text-transform: capitalize;
}
.productInfo .moreInfo, .dvCarDetails .moreInfo {
    cursor: pointer;
}
/*.dvPickupLocation .ui-autocomplete {z-index:99999}*/
/*.dvCarList .dvFilters.modal .modal-header .close, .dvMoreInfoModal.modal .modal-header .close {
    padding: .25rem .25rem;
    margin: var(--filter-mobile-modal-close-margin);
    color: var(--filter-mobile-modal-close-text-colour);
    opacity: var(--filter-mobile-modal-close-opacity);
}

.dvCarList .dvFilters.modal .modal-header, .dvMoreInfoModal.modal .modal-header {
    background-color: var(--filter-mobile-modal-header-bg);
    padding: var(--filter-mobile-modal-header-padding);
}*/
/*.dvMoreInfoModal.modal .modal-title {
    padding: .25rem .25rem;
    margin: var(--filter-mobile-modal-close-margin);
    color: var(--filter-mobile-modal-close-text-colour);
    font-size: var(--filter-mobile-modal-title-fontsize)
}*/
/*=========[ CARLIST PAGE ]=========*/
/*=========[ CARDETAILS PAGE ]=========*/
.dvCarDetails .dvBookingSummary .card {
    border-radius: 0;
}
.dvCarDetails .dvBookingSummary .card-header {
  background-color: var(--bg-section);
}
.dvCarDetails .dvBookingSummary .dvPayable .heading-sm-medium,
.dvCarDetails .dvBookingSummary .dvPayable .heading-sm-bold {
  color: var(--colour1);
}
.dvCarDetails .dvPayOption .heading-sm-medium {
  color: var(--colour1);
}
.dvCarDetails .dvPayOption .fa-check {
  color: var(--text-success);
}
.dvCarDetails .dvItem .heading-md-medium,
.dvCarDetails .dvItem .fa-shield {
  color: var(--colour1);
}
.dvCarDetails .dvPayOption .tickmark {
  font-size: 1.5rem;
  display: flex;
}
.dvCarDetails .dvPayOption .checkmark {
  margin-top: 15px;
}
/*=========[ CARDETAILS PAGE ]=========*/

/*=========[ CAR PAYMENT PAGE ]=========*/

/*=========[ CAR PAYMENT PAGE ]=========*/

/*=========[ CAR SEARCH PAGE ]=========*/
.dvCarSearch .dvForm .fade-in {
  /*animation: fadeIn 0.5s ease-in-out forwards;*/
  display: block;
}
.dvCarSearch .dvForm .fade-out {
  /*animation: fadeOut 0.5s ease-in-out forwards;*/
  display: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*=========[ CAR SEARCH PAGE ]=========*/






/*=========[ REMOVE NOT-ALLOWED ICON ]=========*/
.dvCarSearch .dvInput.input-group .form-control[readonly],
.dvCarSearch .dvInputGroup.input-group .form-control[readonly] {
    background-color: var(--colour6);
    cursor: default;
}
/*=========[ REMOVE NOT-ALLOWED ICON ]=========*/









@media (min-width: 576px) {
   
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  
}
