/*=========[ FLIGHTLIST DOMESTIC ]=========*/
/*.dvFlightListDomestic .dvFlightInfo .dvhover {
    cursor:pointer;
    transition: 0.3s;
}
.dvFlightListDomestic .dvFlightInfo .dvhover:hover {
    cursor:pointer;
    background: var(--colour5);
    border: 1px solid var(--colour1) !important;
}
.dvFlightListDomestic .dvFlightInfo .dvhover.active {
    cursor:pointer;
    background: var(--colour5);
    border: 1px solid var(--colour1) !important;
}*/
/*=========[ FLIGHTLIST DOMESTIC ]=========*/



/*=========[ FLIGHTPASSENGER FOR DOMESTIC ]=========*/
/*.dvFlightPassengerForDomestic{}*/
/*=========[ FLIGHTPASSENGER FOR DOMESTIC ]=========*/



@media(min-width:576px){
   
}

@media(min-width:768px) {
   /* .dvFlightListDomestic .dvFlightInfo .border-bottom-md {
        border-bottom: 0 !important;
    }

    .dvFlightListDomestic .dvFlightInfo .border-right-md {
        border-right: 1px solid #dee2e6 !important;
    }*/
}

@media(min-width:992px) {
    /*.dvFlightListDomestic .dvFlightInfo .dvInfo .border-right-lg {
        border-right: 1px solid #dee2e6 !important;
    }

    .dvFlightListDomestic .dvFlightInfo .dvInfo .border-bottom-lg {
        border-bottom: 1px solid #dee2e6 !important;
    }*/
}

@media(min-width:1200px) {
}