/*=========[ FLIGHTSEARCH ]=========*/
.dvFlightSearch .nav-pills .nav-link.active {
    font-family: var(--heading-semibold);
    background-color: var(--bg-colour1);
    color: var(--text-colour6);
    padding: 6px;
    border-radius: var(--b-radius) !important;
}
.dvFlightSearch .nav-pills .nav-link { 
    font-weight: 400;
    font-family: var(--heading-semibold);
    background-color: var(--bg-colour2);
    color: var(--text-colour7);
    padding:6px;
    border-radius: var(--b-radius) !important;
    margin: 0 5px 0 0px;
}
.dvFlightSearch .innerBox {
    /*overflow: hidden;*/
    background: var(--bg-colour2);
    border: none;
    border-radius: var(--b-radius) !important;
}
.dvFlightSearch .dvPlace {
    position: relative;
}
.dvFlightSearch .dvPlace .map-icon {
    border-left: 1px solid #E0E2EA;
    padding-left: 28px;
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
}
.dvFlightSearch .dvPlace .map-icon .fa-location-dot {
    position: absolute;
    top: 16px;
    right: 3px;
}
.dvFlightSearchProducts .dvProductList .product-text {
    min-height: 120px;
}
/*Flight Search DropDown css*/

/*flightsearch international and domestic errors*/
.dvFlightSearch .dvInternational .error,
.dvFlightSearch .dvDomestic .error,
.dvFlightList .dvModify .dvForm .error {
    border: 1px solid var(--colour1);
    color: var(--colour1);
}
/*flightsearch international and domestic errors*/
/*=========[ FLIGHTSEARCH ]=========*/



/*=========[ FLIGHTLIST PAGE ]=========*/
.dvFlightList .dvFlightInfo .heading-md-medium {
    color: var(--primary-colour);
}
.dvFlightList .dvFlightInfo .dvInfo .abbreviation {
  font-size: 1rem;
}
.dvFlightList .dvFlightInfo .dvInfo span {
  font-size: 0.875rem;
}
.dvFlightList .dvFlightInfo .bg-light {
  background-color: var(--bg-section);
}
.dvFlightList .dvSeeDetails .arrowBtn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.dvFlightList .dvProducts .bg-light2 {
    background-color: var(--bg-colour2);
}
/*=========[ FLIGHTLIST PAGE ]=========*/



/*=========[ FLIGHTPASSENGER PAGE ]=========*/

/*=========[ FLIGHTPASSENGER PAGE ]=========*/



/*=========[ AIR REVIEW AND CONFIRM PAGE ]=========*/
.dvFlightAirReview a {
    text-decoration:underline;
}
/*=========[ AIR REVIEW AND CONFIRM PAGE ]=========*/



/*=========[ FLIGHTLIST DOMESTIC ]=========*/
.dvFlightListDomestic .dvFlightInfo .dvhover {
    cursor: pointer;
    transition: 0.3s;
}
.dvFlightListDomestic .dvFlightInfo .dvhover:hover {
    cursor: pointer;
    background: var(--colour5);
    border: 1px solid var(--colour1) !important;
}
.dvFlightListDomestic .dvFlightInfo .dvhover.active {
    cursor: pointer;
    background: var(--colour5);
    border: 1px solid var(--colour1) !important;
}
/*=========[ FLIGHTLIST DOMESTIC ]=========*/


/*=========[ REMOVE NOT-ALLOWED ICON ]=========*/
.dvFlightSearch .dvInput.input-group .form-control[readonly],
.dvFlightList .dvInput.input-group .form-control[readonly],
.dvFlightSearch .dvInputGroup.input-group .form-control[readonly],
.dvFlightList .dvInputGroup.input-group .form-control[readonly] {
    background-color: var(--colour6);
    cursor: default;
}
/*=========[ REMOVE NOT-ALLOWED ICON ]=========*/

/*=========[ MEDIA QUERIES ]=========*/
@media (min-width: 576px) {
    .dvFlightSearch .nav-pills .nav-link.active, 
    .dvFlightSearch .nav-pills .nav-link{
        padding:15px;
    }
    .dvFlightSearch .dvDropdown .dropdown-menu-sm-left,
    .dvFlightList .dvDropdown .dropdown-menu-sm-left,
    .dvFlightListDomestic .dvDropdown .dropdown-menu-sm-left {
        right: auto !important;
        left: 0 !important;
        top: 24px !important;
        transform: none !important;
    }
    .dvFlightSearch .dvDropdown .dropdown-menu-sm-right,
    .dvFlightList .dvDropdown .dropdown-menu-sm-right,
    .dvFlightListDomestic .dvDropdown .dropdown-menu-sm-right {
        right: 0 !important;
        left: auto !important;
        top: 24px !important;
        transform: none !important;
    }
    .dvFlightSearch .dvDropdown .w-250,
    .dvFlightList .dvDropdown .w-250,
    .dvFlightListDomestic .dvDropdown .w-250 {
        width: 250px
    }
}

@media (min-width: 768px) {
    .dvProductList .product-text {
        min-height:70px;
    }

    .dvFlightListDomestic .dvFlightInfo .border-bottom-md {
        border-bottom: 0 !important;
    }

    .dvFlightListDomestic .dvFlightInfo .border-right-md {
        border-right: 1px solid var(--border-bottom-colour) !important;
    }
}

@media (min-width: 992px) {
  .dvFlightList .dvFlightInfo .dvInfo .border-top-bottom-lg-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }
    .dvFlightList .dvFlightInfo .dvInfo .border-right-lg {
        border-right: 1px solid var(--border-bottom-colour) !important;
    }
    .dvFlightList .dvFlightInfo .dvInfo .border-bottom-lg {
        border-bottom: 1px solid var(--border-bottom-colour) !important;
    }
    .dvFlightSearch .dvDropdown .dropdown-menu-sm-right,
    .dvFlightList .dvDropdown .dropdown-menu-sm-right,
    .dvFlightListDomestic .dvDropdown .dropdown-menu-sm-right {
        right: auto !important;
        left: 0 !important;
    }

    .dvFlightListDomestic .dvFlightInfo .dvInfo .border-right-lg {
        border-right: 1px solid var(--border-bottom-colour) !important;
    }

    .dvFlightListDomestic .dvFlightInfo .dvInfo .border-bottom-lg {
        border-bottom: 1px solid var(--border-bottom-colour) !important;
    }
}

@media (min-width: 1200px) {
}
/*=========[ MEDIA QUERIES ]=========*/
