/*=========[ SHOP.aspx Page ]=========*/
.dvShopPage .dvBg1 {
    background-color: var(--bg-colour2);
    padding: 1rem 0;
}
.dvShopPage .dvBg0 {
    padding: 1rem 0;
}
/*=========[ SHOP.aspx Page ]=========*/

/*=========[ SiteShopMaster Page ]=========*/
/*this is written likethis because dvInputGroup has a background and can't change, if changed it will apply everywhere*/
.dvShopSearchBox .dvInputGroup .input-group-text {
    background-color: var(--colour1);
    border: transparent;
}
/*this is written likethis because dvInputGroup has a background and can't change, if changed it will apply everywhere*/
/*=========[ SiteShopMaster Page ]=========*/



/*=========[ Product Details ]=========*/

/*description tab menu on productdetail page*/
.dvProductDetail .dvDetails ul {
    padding-left: 1rem;
}
.dvProductDetail .dvDetails li {
    margin-bottom: .75rem;
}
.dvProductDetail .dvDetails ul li strong {
    font-family: var(--heading-semibold);
}
/*description tab menu on productdetail page*/

/* Userdetails Modal Popup for all*/
/*.dvVouchersPopup ::-webkit-scrollbar {
    width: var(--modal-scrollbar-width);
}
.dvVouchersPopup ::-webkit-scrollbar-track {
    background: var(--modal-scrollbar-track-bg);
}
.dvVouchersPopup ::-webkit-scrollbar-thumb {
    background: var(--modal-scrollbar-thumb-bg);
}*/
.dvVouchersPopup fieldset {
    max-height: 350px;
    overflow-x: hidden;
    margin-top: 3rem;
    padding-right: 1rem;
    margin-right: -1rem;
}
.dvVouchersPopup label {
    font-family: var(--label-family);
    font-size: var(--label-fontsize);
    color: var(--label-text-colour);
    margin-bottom: var(--label-margin-bottom);
}
.dvVouchersPopup .form-control {
    color: var(--fc-text-colour);
    font-size: var(--fc-font-size);
    border-top: var(--fc-border-top);
    border-right: var(--fc-border-right);
    border-bottom: var(--fc-border-bottom);
    border-left: var(--fc-border-left);
    border-top-left-radius: var(--fc-radius-top-left) !important;
    border-bottom-left-radius: var(--fc-radius-bottom-left) !important;
    border-top-right-radius: var(--fc-radius-top-right) !important;
    border-bottom-right-radius: var(--fc-radius-bottom-right) !important;
    background-color: var(--fc-bg-colour);
}
.dvVouchersPopup .form-group legend {
    color: var(--modal-title-text-colour);
    font-family: var(--modal-title-font-family);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: .65rem 1rem;
    background-color: var(--modal-header-bg-colour);
    font-size: 1.25rem;
}
.dvVouchersPopup .close {
    z-index: 99999;
    position: absolute;
    right: 1rem;
    top: .75rem;
    color: var(--modal-close-icon-text-colour);
    opacity: var(--modal-close-btn-opacity);
}
.dvVouchersPopup .close i {
    font-size: 1.1rem;
}
.dvVouchersPopup .btn.btn-default {
    display: none;
}
.dvVouchersPopup .help-block strong {
    font-size: .875rem;
    font-weight:normal;
}
/* Userdetails Modal Popup for all*/
/*=========[ Product Details ]=========*/

.dvProductDetail .dvProductInfo .dvAddToCart .form-control:disabled,
.dvProductDetail .dvProductInfo .dvAddToCart .form-control[readonly]{
    background: var(--colour6);
}
.dvProductDetail .dvProductInfo .dvAddToCart .input-group-prepend {
    margin-right: 0;
}
.dvProductDetail .dvProductInfo .dvAddToCart .input-group-append {
    margin-left: 0;
}

/*=========[ SHOP List ]=========*/
.dvProductList .dvFilter.modal .accordion .card-header,
.dvProductList .dvFilter.modal .accordion .card-header button {
    border-bottom: 1px solid transparent;
}
.dvProductList .dvFilter.modal .accordion .card {
    border-bottom: 1px solid transparent;
}
/*.dvProductList .dvProducts .img-container {
    padding-bottom: 80%;
}*/
/*=========[ SHOP List]=========*/



/*=========[ SHOP Cart]=========*/

/*=========[ SHOP Cart]=========*/



/*=========[ SHOP Checkout]=========*/
/*.dvShopCheckout .bg {
    background-color: var(--bg-colour1);
}
.dvShopCheckout .badge {
    background-color: var(--bg-colour6);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 15px;
}*/

/*.dvShopCheckout .dvInput.input-group .form-control:disabled, .dvShopCheckout .dvInputGroup.input-group .form-control:disabled {
    background-color: var(--colour6);
}*/
/*=========[ SHOP Checkout]=========*/






/*=========[ redeem ]=========*/
.dvRedeem .image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid var(--colour1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dvRedeem .image img {
    width:40%;
}
/*=========[ redeem ]=========*/


/*=========[ MEDIA QUERIES ]=========*/
@media (min-width: 576px) {
}

    @media (min-width: 768px) {
    }

    @media (min-width: 992px) {
        .dvShopPage .dvBg1 {
            padding: 3rem 0;
        }

        .dvShopPage .dvBg0 {
            padding: 3rem 0;
        }
    }

    @media (min-width: 1200px) {
    }
    /*=========[ MEDIA QUERIES ]=========*/
